.top-slider {
  background-image: url(../img/images/top_slider/slider-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $bg;
  padding: 65px 0 40px;
  &__container {
      min-width: 1520px;
  }
    &__inner {
    }
    &__item {
        padding-left: 135px;
        display: flex !important;
        justify-content: space-between;
    }
    &__content {
        padding-left: 20px;
        padding-top: 105px;
    }
    &__title {
        @extend %title;
        max-width: 670px;
        font-size: 58px;
        line-height: 68px;
        margin-bottom: 35px;
    }
    &__text {
        @extend %text;
        max-width: 470px;
    }
    &__link {
        @extend %btn;
        max-width: 160px;
        padding: 16px 0;
        letter-spacing: 5px;
    }
    &__img {
    }
    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: -68px;
        li {
            padding: 0 5px;
            line-height: 0px;
            button {
                padding: 0;
                font-size: 0;
                background-color: transparent;
                width: 28px;
                height: 28px;
                border: 1px solid transparent;
                border-radius: 50%;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 6px;
                    height: 6px;
                    background-color: $text;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            &.slick-active {
                button {
                    border-color: $accent;
                    &::before {
                        background-color: $accent;
                    }
                }
            }
        }
    }
}
