.product {
    text-align: center;
    padding: 105px 0 120px;
    &__inner {
    }
    &__title {
    }
    &__text {
        margin-top: 24px;
    }
}
.product-items {
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
    &__card-item--sale {
        position: relative;
        &::before {
            content: "SALE";
            @extend %btn;
            position: absolute;
            top: 25px;
            left: 25px;
            padding: 8px 10px;
            z-index: 1;
        }
    }
    &__card-item {
        max-width: 370px;
        &.product-item--list {
            min-width: 100%;
            display: flex;
            margin-top: 40px;
            border: 1px solid #ececec;
            &::before {
                top: 10px;
                left: 14px;
                padding: 4px 4px;
                font-size: 14px;
            }
            &:hover {
                .product-items__link-box {
                    transform: translateY(-100%);
                }
            }
            .product-items__img-box {
                height: 100%;
                min-width: 200px;
                border: none;
            }
            .product-items__link-box {
                box-shadow: none;
                background-color: transparent;
            }
            .product-items__link {
                background: #fff;
                width: 50px;
                border-radius: 50%;
                margin: 0 7px;
            }
            .product-items__link:nth-child(2) {
                display: none;
            }
            .price-box {
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                text-align: left;
                margin: 30px 39px 0px;
                & span {
                    margin: 14px 20px 0 0;
                }
                &__card-title {
                    order: -1;
                    padding: 0;
                    width: 100%;
                }
                .price-box__card-star {
                    margin: 12px 0 0 15px;
                    order: 1;
                }
                &__text,
                &__btn {
                    display: block;
                    order: 1;
                }
                &__text {
                    width: 100%;
                    line-height: 26px;
                    margin-top: 18px;
                }
                &__btn {
                    text-align: center;    
                    margin: 16px 0 30px;           
                }
            }
        }
        &:hover {
            .product-items__link-box {
                transform: translateY(0);
            }
        }
    }
    &__img-box {
        position: relative;
        height: 370px;
        border: 1px solid #ececec;
        overflow: hidden;
    }
    &__images {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    &__link-box {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 50px;
        height: 50px;
        width: fit-content;
        border-radius: 22px 22px;
        box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
        background-color: #fff;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        transform: translateY(300%);
        transition: all 0.5s;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 70px;
        &:nth-child(2) {
            width: 72px;
            position: relative;
            &::before,
            &::after {
                position: absolute;
                content: "";
                width: 1px;
                height: 30px;
                background-color: #ececec;
            }
            &::before {
                left: 0;
            }
            &::after {
                right: 0;
            }
        }
    }
    &__link:hover {
        path {
            transition: all 0.5s;
            fill: #fe3e57;
        }
    }
}

.price-box {
    text-align: center;
    margin-top: 25px;
    &__card-star {
        margin: 0 auto;
    }
    &__card-title {
        @extend %h4;
        padding-top: 20px;
    }

    &__current-price {
        color: $title;
        display: inline-block;
        margin-top: 20px;
    }
    &__old-price {
        position: relative;
        display: inline-block;
        color: $text;
        margin-left: 20px;
        &::before {
            content: "";
            border-bottom: $text 1px solid;
            position: absolute;
            width: 100%;
            height: 8px;
            transform: rotate(10deg);
        }
    }
}
.product-link {
    color: $title;
    display: inline-block;
    padding: 14px 27px;
    border: $accent 1px solid;
    margin-top: 55px;
}
