@font-face {
    font-family: "Quicksand-Regular";
    font-weight: 400;
    font-style: normal;
    src: local("Quicksand-Regular"),
        url("../font/Quicksand-Regular.woff2") format("woff2"),
        url("../font/Quicksand-Regular.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Quicksand-Medium";
    font-weight: 500;
    font-style: normal;
    src: local("Quicksand-Medium"),
        url("../font/Quicksand-Medium.woff2") format("woff2"),
        url("../font/Quicksand-Medium.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Quicksand-Bold";
    font-weight: 700;
    font-style: normal;
    src: local("Quicksand-Bold"),
        url("../font/Quicksand-Bold.woff2") format("woff2"),
        url("../font/Quicksand-Bold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Roboto-Regular";
    font-weight: 400;
    font-style: normal;
    src: local("Roboto-Regular"),
        url("../font/Roboto-Regular.woff2") format("woff2"),
        url("../font/Roboto-Regular.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Roboto-Medium";
    font-weight: 500;
    font-style: normal;
    src: local("Roboto-Medium"),
        url("../font/Roboto-Medium.woff2") format("woff2"),
        url("../font/Roboto-Medium.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "Roboto-Bold";
    font-weight: 700;
    font-style: normal;
    src: local("Roboto-Bold"),
        url("../font/Roboto-Bold.woff2") format("woff2"),
        url("../font/Roboto-Bold.woff") format("woff");
    font-display: swap;
}
