@import "_reset.scss";
@import "_font.scss";
@import "_var.scss";
@import "_extend.scss";

body {
    font-size: 16px;
    // line-height: 26px;
    color: $title;
    @extend %roboto-400;
}
// .wrapper {
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
// }
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.title{
    @extend %title;
    text-align: center;
}
.text{
    @extend %text;
    max-width: 571px;
    text-align: center;
    margin: 0 auto;
}
.header--page-404{
    background-color: $bg;
}