.top {
    &__container {
        max-width: 1700px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 130px;
        text-align: center;
    }
    &__title {
        @extend %title-1;
    }
}
.breadcrumbs {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    &::before {
        content: url(../img/icon/home-icon.svg);
        margin-left: 2px;
      }
      &__list {
        display: flex;
        margin-left: 8px;
    }
    &__item {
        display: flex;
        @extend %text;
        color: #727272;
        &::after {
            content: url(../img/icon/angle-right.svg);
            margin: 0 12px;
        }
        &:last-child {
            color: $accent;
            &::after {
              display: none;          
          }
        }
    }
    &__link {
        color: inherit;
    }
}


